.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 20px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

* {
  font-family: Avenir;
  color: #696565;
  font-weight: 300;
}

.overview_message {
  font-size: 20px;
  padding: 20px;
}

.title {
  /* YOU WERE WITH: */
  font-size: 14px;
}

/* user name */
.name {
  font-size: 26px;
}

.user_image {
  /* Rectangle Copy 4: */
  height: 172px;
  width: 172px;
  /* display: flex; */
  justify-content: center;
  display: block;
  margin: auto;
  background-position: top 140px;

  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.34);
  border: 1px solid #ffffff;
  border-radius: 172px;
}

/* time of day prompt */

.time {
  font-size: 10px;
}

/* develompmental edge message */

.dev_message {
  /* padding-left: 20%;
  padding-right: 20%; */
  padding-top: 20px;
  padding-bottom: 10px;
}
/* questions you will ask them */
.prompt_message {
  padding: 20px;
  font-size: 18px;
}

button.icon {
  /* Rectangle Copy 4: */
  background: rgba(255, 255, 255, 1);
  border: 1px solid #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.34);
  border-radius: 72px;
  height: 102px;
  width: 102px;
}

button.continue {
  margin: 20px;
}

.iconImage {
  height: 50px;
  width: 50px;
}
.icon-label {
}

.demo-list-item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 10px;
  display: flex;
  align-items: center;
}

.demo-list-item img {
  border-radius: 100%;
}

.left {
  text-align: left;
}

.center {
  margin: auto;
}

.buttonWrapper .icon {
  flex: 1;
  margin: 5px;
}

.icon-label {
  font-size: 10px;
  vertical-align: bottom;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  background-color: #e9e9e9;
}

/* content wrapper style */
.section {
  margin: 20px;
}

.wrapper {
  margin: 10px;
  padding: 10%;
  border: thin solid lightgrey;
  background-color: #fcfcfc;
  border-radius: 20px;

  /* Rectangle 2: */
  background: rgba(251, 251, 251, 0.7);
  border: thin solid rgba(151, 151, 151, 0.61);
  box-shadow: 0 2px 4px 0 rgba(199, 199, 199, 0.5);
  border-radius: 33px;
}
